<html>
    <head>
        <link rel="stylesheet" href="stories.css">
    </head>
    <body class="theme_light">
        <h1 class="slide_title">
            #{jsonData.data.title}
        </h1> 
        <script type="text/javascript" src="stories.js"></script>
        <script>
            const body = document.querySelector('body');
            body.innerHTML = window.renderTemplate();
        </script>
        
    </body>
</html>