<html>
    <head>
        <link rel="stylesheet" href="stories.css">
    </head>
    <body class="theme_light">
        <script type="text/javascript" src="stories.js"></script>
        <script>
            const body = document.querySelector('body');
            body.innerHTML = window.renderTemplate(alias, data);
        </script>
        
    </body>
</html>